.store-products {
  background-color: #ddd;
}

.store-products .menu {
  width: 60%;
  margin: 25px;
  position: fixed;
  left: 0;
}

.store-products .menu .price {
  margin-right: 10px;
  width: 60px !important;
}

.store-products .cart {
  width: 35%;
  margin: 25px;
  position: fixed;
  right: 0;
}


.store-products .cart .price {
  width: 60px !important;
  top: 5px !important;
}

.store-products .cart .footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.store-products .cart .total {
  min-width: 60px;
  max-width: 70px;
  width: auto !important;
}