.header .avatar {
  width: 40px;
}

.header .right-content { 
  float: right;
  margin-top: 5px;
  margin-right: 20px;
}

.header .right-content label { 
  color: white;
  position: relative;
  bottom: 15px;
  right: 10px;
}