.header {
  border-bottom: 1px solid lightgray;
  height: 60px;
}

.header .avatar {
  width: 40px;
}

.header .right-content { 
  float: right;
  margin-top: 10px;
  margin-right: 20px;
}

.header .right-content label { 
  position: relative;
  bottom: 12px;
  right: 10px;
}